<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>Employee record</title>
    <link rel="stylesheet" href="{% static 'DBapp2/css/style1.css' %}"/>
  </head>
  <body>
    <h1>Employee record</h1>
  {% for x in emp%}
      <h2>Employee ID {{x.Eid}}<br>
      Employee Name : {{x.Ename}}<br>
      Employee Age : {{x.Eage}}<br>
      Employee Sal : {{x.Esal}}<br>
      Employee Designation :{{x.Desig}}<br><hr>
      </h2>
  {%endfor%}

  </body>
</html>
